html, body {
    margin-top: 10px;
    margin-left: 10px;
    width:100vw;
    height: 100vh;
}
 .card{
    width: 90%;
    padding: 10px;
    border: 2px solid;
    height: 500px;
  }
  .event-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  .search-box {
    width: 300px;
    padding: 5px;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .event-box {
    width: 225px;
    height: 150px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 10px;
    margin-bottom: 40px;
  }
  .image-box {
    width: 30%;
  }
  .content-box {
    width: 70%;
    margin: 0px;
    text-align: left;
  }
  .box {
    width: 100px;
    height: 100px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid;
 }
  .content-alignment {
    text-align:justify;
  }
  .button-container {
    display: flex;
    justify-content:center;
    text-align: justify;
    margin-left: 20%;
  }
  #align-words {
    text-align: justify;
    margin-left: 35%;
  }
  #image1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 